@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  row-gap: 1px;
  column-gap: 5px;
  width: 37%;
  
}

.cell {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.start {
  background-color: #00f;
}

.end {
  background-color: #f00;
}

.wall {
  background-color: #333;
}

.path {
  background-color: #0f0;
}

.visited {
  background-color: aqua;
}
